---
layout: page
---

<div id="source">
	{% if page.source_url %}
		<a href="{{ page.source_url }}">
	{% endif %}
	{% if page.source_url or page.source %}
		Original Source{% if page.source %}: {{ page.source }}{% endif %}
	{% endif %}
	{%if page.source_url %}
		</a>
	{% endif %}
</div>

{% if page.ingredients %}
	<div id="ingredients">
		<h2>Ingredients</h2>
		<ul>
			{% for ingredient in page.ingredients %}
				<li>{{ ingredient }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<div>
	{{ content }}
</div>
